@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

nav {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a img {
    height: 55px;
}

nav .group {
    display: flex;
    align-items: center;
}

nav .group .menu {
    display: flex;
}

nav .group .menu .item {
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 16px 15px 15px;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}

nav .group .menu .item:hover:not(.active) {
    color: #02B888;
    transition: all .3s ease;
}

nav .group .menu .active {
    font-size: 20px;
    font-weight: 500;
    background-color: #02B888;
    color: white;
    padding: 16px 20px 15px;
    margin-right: 10px;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}

nav .group .menu .active:hover {
    background-color: #06D6A0;
    transition: all .3s ease;
}

nav .group .menu .active2 {
    font-size: 20px;
    font-weight: 400;
    color: #02B888;
    padding: 16px 15px 15px;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}

nav .group .vl {
    border-left: 2px solid #00000010;
    height: 25px;
    margin-right: 0px;
}

.jumbotron {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 100px;
}

.jumbotron .text h1 {
    font-size: 50px;
    font-weight: 700;
    color: #02B888;
}

.jumbotron .text p {
    font-size: 30px;
    font-weight: 400;
    color: #000;
}

.jumbotron .text button {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    background-color: #02B888;
    color: white;
    padding: 20px;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron .text button .iconify {
    font-size: 25px;
    margin-right: 5px;
}

.jumbotron .text button:hover {
    background-color: #06D6A0;
    transition: all .3s ease;
}

.jumbotron .img {
    width: 629.34px;
    height: 421.9px;
    background-image: url("jumbotron.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.beasiswa {
    height: 320px;
    background-image: url("Frame 119.svg");
}