@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  user-select: none;
}

body {
  background-color: #F5F6FF;
}

nav {
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  transition: all .3s ease;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .05);
}

nav .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav .menu {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .menu .iconify {
  font-size: 25px
}

nav .logo {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo img {
  height: 30px;
}

.search-section {
  width: 100%;
  margin-top: 60px;
  position: absolute;
  top: -100px;
  transition: all .3s ease;
  z-index: -1;
  background-color: white;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .05);
}

.search-section .wrapper {
  padding: 0 20px 10px;
}

.search-section input {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  outline: none;
  border: 0;
  border-bottom: 1px solid lightgray;
}

.container {
  margin-top: 75px;
  transition: all .3s ease;
  margin-bottom: 70px;
}

.container .bea-section {
  margin-top: 25px;
}

.container .bea-section h3 {
  padding: 0 16px;
  font-weight: 600;
}

.container .bea-section .subs {
  color: grey;
  padding: 0 16px;
}

.container .bea-section .scrollcon {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  margin-top: 10px;
}

.container .bea-section .scrollcon .card {
  margin: 0 0 0 16px;
  width: 220px;
  min-width: 220px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 16px;
  transition: all .3s ease;
}

.container .bea-section .scrollcon .card:hover {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .05);
  transition: all .3s ease;
}

.container .bea-section .scrollcon .card img {
  width: 100%;
  height: 100px;
  border-radius: 5px 5px 0 0;
}

.container .bea-section .scrollcon .card .text .tags-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container .bea-section .scrollcon .card .text .tags-group .tags {
  color: #1E90FF;
  font-size: 12px;
  margin: 5px 8px 5px 0;
  display: flex;
  align-items: center;
}

.container .bea-section .scrollcon .card .text .tags-group .tags:before {
  color: #1E90FF;
  font-size: 12px;
  content: "#";
}

.container .bea-section .scrollcon .card .text {
  padding: 0 10px 10px;
}

.container .bea-section .scrollcon .card .text .group {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 8px;
}

.container .bea-section .scrollcon .card .text .group .lokasi {
  display: flex;
  align-items: center;
  color: #00000070;
}

.container .bea-section .scrollcon .card .text .group .lokasi .iconify {
  margin-right: 2px;
  font-size: 18px;
}

.container .bea-section .scrollcon .card .text .group .deadline {
  color: #FF000095;
  display: flex;
  align-items: center;
}

.container .bea-section .scrollcon .card .text .group .deadline .iconify {
  margin-right: 2px;
  font-size: 18px;
}

.container .bea-section .scrollcon .card-empty {
  padding: 8px;
}

.container .latsos-section {
  margin-top: 25px;
}

.container .latsos-section h3 {
  padding: 0 16px;
  font-weight: 600;
}

.container .latsos-section .subs {
  color: grey;
  padding: 0 16px;
}

.container .latsos-section .scrollcon {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  margin-top: 10px;
}

.container .latsos-section .scrollcon .card {
  margin: 0 0 0 16px;
  width: 300px;
  min-width: 300px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 16px;
  transition: all .3s ease;
  display: flex;
}

.container .latsos-section .scrollcon .card:hover {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .05);
  transition: all .3s ease;
}

.container .latsos-section .scrollcon .card img {
  width: 100px;
  height: 100px;
  border-radius: 5px 0 0 5px;
}

.container .latsos-section .scrollcon .card .text {
  padding: 5px 3px 10px 8px;
}

.container .latsos-section .scrollcon .card .text .group {
  font-size: 13px;
  margin-top: 5px;
}

.container .latsos-section .scrollcon .card .text .group .lokasi {
  display: flex;
  align-items: center;
  color: #00000070;
}

.container .latsos-section .scrollcon .card .text .group .lokasi .iconify {
  margin-right: 2px;
  font-size: 18px;
}

.container .latsos-section .scrollcon .card .text .group .deadline {
  color: #FF000095;
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.container .latsos-section .scrollcon .card .text .group .deadline .iconify {
  margin-right: 2px;
  font-size: 18px;
}

.container .latsos-section .scrollcon .card-empty {
  padding: 8px;
}

.container .loader {
  position: relative;
  left: 45%;
  transform: translateX(-50%);
  margin-top: 5px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #02B888;
  width: 20px;
  height: 20px;
}

.container .detik2 {
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navbottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  transition: all .3s ease;
  box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, .05);
}

.navbottom .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.navbottom .wrapper .item {
  height: 45px;
  position: relative;
  text-align: center;
}

.navbottom .wrapper .item .iconify {
  font-size: 30px;
  margin-bottom: 0;
  color: lightgray;
}

.navbottom .wrapper .item .tabler {
  font-size: 35px;
}
.navbottom .wrapper .item p{
  transform: translateY(-5px);
  color: lightgrey;
}
.navbottom .wrapper .active p{
  transform: translateY(-5px);
  color: black;
}

.navbottom .wrapper .alt p{
  transform: translateY(-10px);
}

.navbottom .wrapper .active .iconify {
  color: #02B888;
}