.e26_43 {
	overflow: hidden;
}

.e26_43 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 1);
	width: 300px;
	height: 179px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	position: absolute;
}

.e26_44 {
	width: 300px;
	height: 125px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e26_45 {
	width: 300px;
	height: 125px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(images/rectangle_6.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e26_48 {
	background-color: rgba(255, 255, 255, 1);
	width: 74px;
	height: 21px;
	position: absolute;
	left: 0px;
	top: 0px;
	/*border-radius: Symbol(figma.mixed)px;*/
}

.e26_49 {
	color: rgba(16.000000946223736, 156.00000590085983, 241.00000083446503, 1);
	width: 58px;
	height: 15px;
	position: absolute;
	left: 8px;
	top: 3px;
	font-family: Poppins;
	text-align: left;
	font-size: 10px;
	letter-spacing: 0;
}

.e26_72 {
	width: 5px;
	height: 5px;
	position: absolute;
	left: 0px;
	top: 21px;
	background-image: url(images/vector_1_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e26_73 {
	width: 5px;
	height: 5px;
	position: absolute;
	left: 74px;
	top: 0px;
	background-image: url(images/vector_2_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e26_52 {
	width: 300px;
	height: 54px;
	position: absolute;
	left: 0px;
	top: 125px;
}

.e26_53 {
	width: 280px;
	height: 34px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.e26_54 {
	width: 280px;
	height: 34px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e26_55 {
	width: 280px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e26_56 {
	color: rgba(0, 0, 0, 1);
	width: 148px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Poppins;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
}

.e26_57 {
	background-color: rgba(255, 0, 0, 0.20000000298023224);
	width: 57px;
	height: 19px;
	position: absolute;
	left: 223px;
	top: 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.e26_58 {
	color: rgba(255, 0, 0, 0.800000011920929);
	width: 49px;
	height: 15px;
	position: absolute;
	left: 4px;
	top: 2px;
	font-family: Poppins;
	text-align: left;
	font-size: 10px;
	letter-spacing: 0;
}

.e26_59 {
	color: rgba(0, 0, 0, 0.5);
	width: 280px;
	height: 10px;
	position: absolute;
	left: 0px;
	top: 24px;
	font-family: Poppins;
	text-align: left;
	font-size: 10px;
	letter-spacing: 0;
}