body {
    background-image: url("img/hypnotize.png");
    background-repeat: repeat;
}

.box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    width: 100%;
}

.logo .wrap {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.logo .wrap .dji,
.logo .wrap .uxmb {
    height: 50px;
    margin: 0 1rem;
}

.partner {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.partner .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.partner .wrap p {
    margin-top: 1rem;
}

.partner .wrap .pwc {
    height: 80px;
    margin: 0 1rem;
}

@media (max-width: 360px) {

    .logo .wrap .dji,
    .logo .wrap .uxmb {
        height: 50px;
        margin: 0 1rem;
    }

    .partner .wrap .pwc {
        height: 80px;
    }
}

@media (max-width: 320px) {

    .logo .wrap .dji,
    .logo .wrap .uxmb {
        height: 40px;
        margin: 0 1rem;
    }

    .partner .wrap .pwc {
        height: 70px;
    }
}